on:
  push:
    branches:
      - main
  pull_request:

jobs:
  image-scan:
    runs-on: ubuntu-latest
    name: Scan container image
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: cognitedata/image-scan-action@v1
        with:
          image: "docker.io/library/hello-world@sha256:d715f14f9eca81473d9112df50457893aa4d099adeb4729f679006bf5ea12407"
